anyio==3.5.0
asgiref==3.5.1
atomicwrites==1.4.0
attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.4
decorator==4.4.2
fastapi==0.77.1
greenlet==1.1.2
h11==0.13.0
idna==3.3
imageio==2.19.1
imageio-ffmpeg==0.4.7
iniconfig==1.1.1
moviepy==1.0.3
numpy==1.22.3
packaging==21.3
Pillow==9.1.0
pluggy==1.0.0
proglog==0.1.10
py==1.11.0
pydantic==1.9.0
pyparsing==3.0.9
pytest==7.1.2
pytube==12.1.0
requests==2.27.1
sniffio==1.2.0
SQLAlchemy==1.4.36
starlette==0.19.1
tomli==2.0.1
tqdm==4.64.0
typing_extensions==4.2.0
urllib3==1.26.9
uvicorn==0.17.6
wget==3.2
