<mat-drawer-container autosize>
  <mat-toolbar color="accent" class="top-nav" id="top-nav">
    <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="" class="home">Halwa Box</a>
    <span class="example-spacer"></span>
    <button (click)="bookmark()" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-toolbar>
  <div id="viewport">
    <router-outlet></router-outlet>
  </div>
  <mat-drawer #drawer class="system-sidenav" mode="over">
    <h2>Tool Box</h2>
    <button class="router-links" matRipple [matRippleUnbounded]="false" routerLink="YouTubeDownloader">
      <span>
        Youtube Downloader
      </span>
    </button>
    <button class="router-links" matRipple [matRippleUnbounded]="false" routerLink="#">
      <span>
        Search Trends
      </span>
    </button>
  </mat-drawer>
</mat-drawer-container>
