<div class="YTUrlContainer">
  <mat-form-field appearance="standard" class="ytUrlField">
    <mat-label>YouTube Video URL</mat-label>
    <input matInput type="text" [(ngModel)]="downloadUrl">
    <button *ngIf="downloadUrl" matSuffix mat-icon-button aria-label="Clear" (click)="downloadUrl=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button mat-raised-button color="accent"><mat-icon>download</mat-icon></button>
</div>
<div id="video-details">
  <h4>Select Download Format</h4>
  <mat-form-field appearance="fill">
    <mat-label>Favorite food</mat-label>
    <mat-select [(ngModel)]="selectedValue" name="StreamSelection">
      <mat-option *ngFor="let stream of videoDetails.streams"  [value]="stream.url">
        {{stream.resolution + ' ' + stream.subtype}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

